body{
  font-family: Impact, Arial, Helvetica, sans-serif;
  font-style: italic;
  background-color: white;
  height: 100%;
}


.container {
width:90%;
padding:5%;
margin:auto;
background-color: lightgray;

}

.container .header  {
  background-color: black;
  color:white;
  margin:auto;
}

#img1 {
  float:left;
  padding:10px;
  width:140px;
  height:140px;
  margin-left: 10px;
}
#img2 {
  float:right;
  padding:10px;
  width:300px;
  height:140px;
  margin-right: 10px;
  opacity:0.7;
  border-radius:7px;
}

h1{
  text-align: center;
  width:50%;
  margin:auto;
  color: white;
}


span {
  color:red;
}

i {
  color:red;
}


video{
  text-align: center;
  margin: auto;
  margin-top:10px;
	display: block;
  width: 500px;
  border: solid grey 2px;
}

.question {
  font-style:normal;
  font-family:'Europa Regular', sans-serif;
  box-shadow:5px 8px rgba(200,200,200, .1);
  padding:15px;
  background-color: white;
  margin:15px;
  height: 100%;
  letter-spacing:.25px;
  line-height: 20px;
}

#checkQuiz {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;

}
 #checkQuiz:hover {
   font-weight: bold;
 }
