body{
  font-family: Impact, Arial, Helvetica, sans-serif;
  font-style: italic;
  background-color: lightgray;
  height: 100%;
}

.container {
width:80%;
padding:5%;
margin:auto;
background-color: white;

}

.container .header  {
  background-color: black;
  color:white;
  margin:5px;
  border-radius:7px;


}

img {
  float:left;
  padding:10px;
  width:140px;
  height:140px;
  margin-left: 10px;

}

h1{
  text-align: center;
  width:50%;
  margin:auto;
  color: white;

}


span {
  color:red;
}

i {
  color:red;
}


video{
  text-align: center;
	margin: auto;
	display: block;
  width: 500px;
  border-radius:7px;

  border: solid grey 2px;
}

.question, button {
  font-family:Arial;
  border-radius:7px;
  border: red solid 2px;
  padding:10px;
  background-color: lightgray;
  margin:10px;
  height: 100%;
}

button:hover {
  font-weight: bold;
}