<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="../style/style.css" />
  <title>Gone in 60 Sessions</title>
</head>

<body>
  <h2> Home Page </h2>
  <select name="Quizes">
    <option value="quiz1">Quiz1</option>
    <option value="quiz2">Quiz2</option>
    <option value="quiz3">Quiz3</option>
    <option value="quiz4">Quiz4</option>
  </select>


</body>

</html>