<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- style page -->
  <link rel="stylesheet" type="text/css" media="screen" href="../style/style.css">
  <!--  Icons for page-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
    crossorigin="anonymous">
  <!-- script files -->
  <script src="../scripts/quiz.js"></script>
  <title>Mary</title>
</head>

<body>

  <div class="container" id="quiz">

    <h1>
      <i class="fas fa-angle-double-down"></i>
      <span>GONE IN</span>
      <br> 60
      <br>
      <span>SESSIONS</span>
      <br> "MARY"
    </h1>
    <video width="400 " controls>
      <source src="mov_bbb.mp4 " type="video/mp4 ">
      <source src="mov_bbb.ogg " type="video/ogg "> Your browser does not support HTML5 video.
    </video>
    <!-- Question 1 -->
    <div class="question">
      <form id='q1'>
        <p>Here you are able to type any quesiton you come up with?</p>
        <input type="radio" name="question1" value="correct"> Answer1
        <br>
        <input type="radio" name="question1" value="inCorrect"> Answer2
        <br>
        <input type="radio" name="question1" value="inCorrect"> Answer3
      </form>
    </div>
    <!-- Question 2 -->
    <div class="question ">
      <form>
        <p>Here you are able to type any quesiton you come up with?</p>
        <input type="radio" name="question2 " value="inCorrect"> Answer1
        <br>
        <input type="radio" name="question2 " value="correct"> Answer2
        <br>
        <input type="radio" name="question2 " value="inCorrect"> Answer3
        <br>
      </form>
    </div>

    <!-- Question 3 -->
    <div class="question">
      <form>
        <p>Here you are able to type any quesiton you come up with?</p>
        <input type="radio" name="question3" value="inCorrect"> Answer1
        <br>
        <input type="radio" name="question3" value="inCorrect"> Answer2
        <br>
        <input type="radio" name="question3" value="correct"> Answer3
        <br>
      </form>
    </div>

    <!-- Question 4 -->
    <div class="question">
      <form>
        <p>Here you are able to type any quesiton you come up with?</p>
        <input type="radio" name="question4" value="inCorrectA"> Answer1
        <br>
        <input type="radio" name="question4" value="correct"> Answer2
        <br>
        <input type="radio" name="question4" value="inCorrect"> Answer3
        <br>
      </form>
    </div>

    <!-- Question 5 -->
    <div class="question">
      <form>
        <p>Here you are able to type any quesiton you come up with?</p>
        <input type="radio" name="question5" value="inCorrectA"> Answer1
        <br>
        <input type="radio" name="question5" value="B"> Answer2
        <br>
        <input type="radio" name="question5" value="C"> Answer3
        <br>
      </form>
    </div>
    <!-- Question 6 -->
    <div class="question">
      <form>
        <p>Here you are able to type any quesiton you come up with?</p>
        <input type="radio" name="question6" value="A"> Answer1
        <br>
        <input type="radio" name="question6" value="B"> Answer2
        <br>
        <input type="radio" name="question6" value="C"> Answer3
        <br>
      </form>

    </div>
    <!-- calls checkQuiz -->
    <input onclick="checkAnswers()" id="checkQuiz" type="submit"></input>
  </div>

</body>

</html>