<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Session 1 Quiz</title>
</head>

<body>
  <div id="quiz">

    <div class="question">
      <p>Question goes here?</p>
      <ul class="answers">
        <li>Choice 1</li>
        <li>Choice 2</li>
        <li>Choice 3</li>
      </ul>
    </div>

    <button type='submit'>Submit</button>

  </div>

</body>

</html>